# Secrets
.env
.env.*
!.env.example

# Python environment and cache
.venv/
venv/
__pycache__/
*.py[cod]

# Streamlit secrets
.streamlit/secrets.toml

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

#Local Reference & file 
/1.ipynb
/test_streamlit.py
/data